.App {
  text-align: center;
}

/* Font */
@font-face {
  font-family: Comfortaa;
  src: url('./assets/font/Comfortaa-VariableFont_wght.ttf');
}

/* Default */
* {
  padding: 0px;
}

html {
  scroll-behavior: smooth;
}

h1 {
  font-family: Comfortaa;
}

body {
  font-family: Comfortaa;
}
/* Navbar */
/* Banner */
/* .banner {
  margin-top: 0;
  padding: 666px 0px 444px 0px;
  background-image: url('./assets/img/banner.JPG');
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
} */

/* .banner h1 {
  color: aliceblue;
  font-size: 111px;
  font-size-adjust: 0.58;
  display: block;
} */

/* social-icons */
.social-icon-wrapper {
  padding: 10px;
}

button.navbar-toggler {
  border-color: transparent;
}

nav.navbar .navbar-toggler:focus {
  box-shadow: none;
}
